<header [class.scrolled]="isScrolled">
  <nav class="container">
    <a href="#hero" class="logo">IMAD<span class="dot">.</span></a>

    <div class="right-section">
      <ul class="nav-links" [class.active]="menuOpen">
        <li><a href="#hero" (click)="closeMenu()">{{ currentLang() === 'en' ? 'Home' : 'Accueil' }}</a></li>
        <li><a href="#about" (click)="closeMenu()">{{ currentLang() === 'en' ? 'About' : 'À propos' }}</a></li>
        <li><a href="#experience" (click)="closeMenu()">{{ currentLang() === 'en' ? 'Experience' : 'Expérience' }}</a>
        </li>
        <li><a href="#education" (click)="closeMenu()">{{ currentLang() === 'en' ? 'Education' : 'Formation' }}</a></li>
        <li><a href="#skills" (click)="closeMenu()">{{ currentLang() === 'en' ? 'Skills' : 'Compétences' }}</a></li>
        <li><a href="#contact" (click)="closeMenu()">{{ currentLang() === 'en' ? 'Contact' : 'Contact' }}</a></li>
        <li class="mobile-only">
          <button class="lang-btn" (click)="toggleLanguage()">
            {{ currentLang() === 'en' ? 'FR' : 'EN' }}
          </button>
        </li>
      </ul>

      <div class="actions">
        <div class="social-icons">
          <a href="https://github.com/imadmallahi" target="_blank" aria-label="GitHub">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path
                d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
              </path>
            </svg>
          </a>
          <a href="https://www.linkedin.com/in/imad-el-mallahi/" target="_blank" aria-label="LinkedIn">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
              <rect x="2" y="9" width="4" height="12"></rect>
              <circle cx="4" cy="4" r="2"></circle>
            </svg>
          </a>
        </div>
        <button class="lang-btn desktop-only" (click)="toggleLanguage()">
          {{ currentLang() === 'en' ? 'FR' : 'EN' }}
        </button>

        <button class="mobile-toggle" (click)="toggleMenu()" aria-label="Toggle navigation">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </button>
      </div>
    </div>
  </nav>
</header>